<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.erik.system.archive-screenshots-to-nas</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/erik/.config/macos/archive-screenshots-to-nas.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/archive-screenshots-to-nas.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/archive-screenshots-to-nas.err.log</string>
</dict>
</plist>
